.sas_search_card{
    border: 1px solid blue;
    border-radius: 5px;
    width: 50%;
    display: flex;
    margin-bottom: 2%;
}

.col_one_elements, .col_two_elements {
    flex: 1;
    padding: 20px;
}

.col_one_elements{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.col_two_elements{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.health_offer_title{
    display: block;
    color: #00457f;
    font-size: 1rem;
    font-weight: 600;
}

.health_offer_profession{
    margin: 0;
    color: #595959;
    font-size: .75rem;
    font-weight: 700;
    line-height: normal;
}

textarea{
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    background-color: #f8f8f8;
    font-size: .75rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

.agenda_grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* Optional spacing between items */
  }
  
  .agenda_slot {
    background-color: #2596be;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
  }