body{
    margin: 0;
}
.state_logo{
    width: 15%;
    height: 100px;
    display: block;
    margin-top: 2%;
    margin-left: 2%;
}

.state_logo img{
    max-height: 80px;
}

#div_header{
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    display: flex; 
    align-items: center;
}

#header_title h1{
    font-size: 18px;
    font-weight: bold;
}

#header_title h2{
    font-size: 14px;
}
